<h1>Mike Helm</h1>

<h2> Welcome to CSE Motors</h2>

<div id="hero">
    <div id="hero-box">
        <img id="hero-img" src="/images/vehicles/delorean-tn.jpg" alt="Marty McFly's Main Ride">
    </div>
    <section id="hero-msg">
    <h1 class="home-title">DMC Delorean</h1>
    <h4><p>3 Cup Holders</p><p>Superman Dice</p><p>Fuzzy Dice</p></h4>
    <div class="button-box">
        <a class="buy" href="buy.html">Own Today</a>
    </div>
</div>
<main class="home-grid">
    <h2>Delorean Upgrades</h2>
    <section class="upgrades-card-grid">
        <section class ="upgrade-1">
            <img class="card-img" src="/images/upgrades/flux-cap.png" alt="flux-cap">
            <h4>Flux Capacitator</h4>
        </section>
        <section class = "upgrade-2">
            <img class="card-img" src="/images/upgrades/flame.jpg" alt="flame">
            <h4>Flame Decals</h4>
        </section>
        <section class="upgrade-3">
            <img class="card-img" src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
            <h4>Hub Caps</h4>
        </section>
        <section class="upgrade-4">
            <img class="card-img" src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
            <h4>Bumper</h4>
        </section>
    </section>
    <section class="reviews-list">
        <h2>Delorean Reviews!</h2>
        <ul>"So fast it's almost like traveling in time." (4/5)</ul>
        <ul>"Coolest ride on the road." (4/5)</ul>
        <ul>"I'm feeling McFly!" (5/5)</ul>
        <ul>"The most futuristic ride of our day." (4.5/5)</ul>
        <ul>"80's livin' and I love it!" (5/5)</ul>

    </section>

</main>